.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 60px;
  width: calc(50vw + 185px);
  height: 710px;
  background-color: var(--lightText);
  padding-left: 50px;
  overflow: hidden;
  transition: 0.6s cubic-bezier( 0.34, 0.95, 0.6, 1 );

  mask-image: url('/mask_products.svg');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: right bottom;

  -webkit-mask-image: url('/mask_products.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: right bottom;
}
.not_visable {
  opacity: 0;
}
.card_wrapper {
  width: 45%;
  height: 100%;
  padding: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 2;
}
.icon_back, .icon_next {
  font-size: 50px;
  font-weight: 100;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s ease-in-out;
}
.icon_back:hover, .icon_next:hover {
  opacity: 1;
}

.title {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -5px;
  color: var(--darkText);
  position: absolute;
  bottom: 10px;
  right: 90px;
  z-index: 2;
  opacity: 0.5;
}