.wrapper {
  justify-content: start;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
.bg_shape {
  position: absolute;
  top: 0px;
  right: 274px;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .bg_shape {
    top: -15px;
    right: 120px;
  }
}
