.wrapper {
  justify-content: start;
  align-items: center;
  position: relative;
}
.bg_shape {
  position: absolute;
  top: 0px;
  right: 274px;
  z-index: -1;
}

@media screen and (max-width: 480px) {

}
