.wrapper {
  position: absolute;
  top: -240px;
  right: -195px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 1000px;

  /* Mask */
  mask-image: url('/mask.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url('/mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

.hero_img {
  position: absolute;
  top: 90px;
  right: -80px;
  width: 100%;
  z-index: 3;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  will-change: transform;
}

.hero_bg {
  position: absolute;
  top: 100px;
  right: 430px;
  width: 50%;
  height: 100%;
  z-index: 1;
  will-change: transform;
}

.hero_bg_shape {
  position: absolute;
  top: 0;
  left: 140px;
  width: 50%;
  height: 100%;
  z-index: 2;
  will-change: transform;
}

/* ---------- Mobile ---------- */

@media screen and (max-width: 480px) {
  .wrapper {
    bottom: 38.2vh;
    right: -350px;
  }

  .hero_img {
    top: 185px;
    right: -95px;
  }

  .hero_img img {
    width: 570px;
    height: auto;
  }

  .hero_bg {
    top: 120px;
    right: 460px;
  }

  .hero_bg_shape {
    top: 40px;
    left: 140px;
  }
}
