.wrapper {
  position: absolute;
  top: -240px;
  right: -195px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px; 
  height: 1000px; 
  
  /* Mask applied to the whole section */
  mask-image: url('/mask.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url('/mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}
.hero_img {
  position: absolute; 
  top: 190px;
  right:-60px;
  width: 100%; 
  transform: translateY(var(--hero_img_offset, 0px)); 
  z-index: 3;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}
.hero_bg {
  position: absolute; 
  top: 100px;
  right: 430px;
  width: 50%; 
  height: 100%;
  z-index: 1; 
  transform: translateY(var(--hero_bg_offset, 0px));
}
.hero_bg_shape {
  position: absolute; 
  top: 0;
  left: 140px;
  width: 50%; 
  height: 100%;
  z-index: 2; 
  transform: translateY(var(--hero_shape_offset, 0px));
}

@media screen and (max-width: 480px) {
  .wrapper {
    bottom: 38.2vh;
    right: -350px;
  }
  .hero_img {
    top: 255px;
    right: -95px;
  }
  .hero_img img {
    width: 520px;
    height: auto;
  }
  .hero_bg {
    top: 120px;
    right: 460px;
  }
  .hero_bg_shape {
    top: 40;
    left: 140px;
  }
  .red_triangle {
    top: 180px;
    right: -465px;
  }
}
