.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -80px;
  right: -450px;
  width: auto; 
  height: 820;
  transition: right 0.2s cubic-bezier( 0.34, 0.95, 0.6, 1 );
}
.wrapper.animate {
  right: -40px;
  transition: right 0.6s cubic-bezier( 0.34, 0.95, 0.6, 1 );
}
.logo{
  position: absolute;
  top: 125px;
  left: 25px;
  display: flex;
  align-items: center;
  color:rgb(249, 255, 247, 0.5);
  font-size: 20px;
  font-weight: 600;
  height: 200px;
  width: 200px;
  transition: left 0.2s cubic-bezier( 0.34, 0.95, 0.6, 1 );
}