.wrapper{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: var(--BgColor);
    border-radius: 5rem;
    padding: 0.2rem 2rem;
    cursor: pointer;
    margin: 0 0 0 15%;
}  

@media screen and (max-width: 480px) {
    .wrapper {
        margin: 0 0 0 10%;
    }
}