.wrapper{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: var(--BgColor);
    border-radius: 5rem;
    padding: 0.2rem 2rem;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}  
.wrapper:hover {
    scale: 1.05;
}

@media screen and (max-width: 480px) {

}