.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 40px;
    background-color: var(--foreground);
    /* background-color: #042601; */
}
.logo_wrapper{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height:100%;
    padding: 0 0 0 10px;
    cursor: pointer;
}
