:root {
  --background: #F9FFF7;
  --foreground: #171717;
  --purple: #9d00ff;
  --yellow: #FFC000;
  --lightText:#F9FFF7 ;
  --darkText:#042601;
  --red: #bc1417;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: contain;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
