:root {
  --background: #F9FFF7;
  --foreground: #171717;
  --purple: #9d00ff;
  --yellow: #FFC000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F9FFF7;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  /* height: 100%;
  scroll-snap-type: y mandatory; */
  
}

body {
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-height: 100vh; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
