.page {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}
.section {
  width: 100vw;
  height: 85vh;
  position:relative;
  display: flex;
  /* border-bottom: 3px solid black; */
  /* scroll-snap-align: start; */
}
.bg_shape {
  position: absolute;
  top: 0;
  /* right: 265px; */
  right: 250px;
  z-index: -1;
}


@media screen and (max-width: 480px) {
  .section {
    height: 90vh;
  }
  .bg_shape {
    position: absolute;
    top: -5px;
    right: 110px;
    z-index: -1;
  }
  
}

