.home_section {
  justify-content: start;
  align-items: end;
  position: relative;
}
.red_triangle {
  position: absolute;
  top: 195px;
  right: -308px;
  transform: translateX(var(--svg-offset-x, 0px));
  will-change: transform;
  z-index: 1;
}

.bg_shape {
  position: absolute;
  top: -1px;
  /* right: 265px; */
  right: 45px;
  z-index: -1;
}


/* ------ HERO SECTION ------ */

.hero_section {
  position: absolute;
  top: -240px;
  right: -195px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px; 
  height: 1000px; 
  
  /* Mask applied to the whole section */
  mask-image: url('/mask.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url('/mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

.hero_img {
  position: absolute; 
  top: 190px;
  right:-60px;
  width: 100%; 
  
  transform: translateY(var(--svg-offset-y-down-fast, 0px)); 
  z-index: 3;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.hero_bg {
  position: absolute; 
  top: 100px;
  right: 440px;
  width: 50%; 
  height: 100%;
  z-index: 1; 
  transform: translateY(var(--svg-offset-y-down-slow, 0px));
}
.hero_bg_shape {
  position: absolute; 
  top: 0;
  left: 140px;
  width: 50%; 
  height: 100%;
  z-index: 2; 
  transform: translateY(var(--svg-offset-y-positive, 0px));
  
}
.nav_logo_wrapper {
  position: absolute; 
  bottom: 15px;
  left: 0;
  z-index: 4; 
}

/* ----- CTA SECTION ----- */
.cta_wrapper {
   position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: end;
  height: 400px;
  z-index: 4; 
  margin-left: 10%;
  width: 100%;
}
.home_logo_wrapper{
  display:flex;
  align-items: start;
  flex-wrap: wrap;
  color:#042601;
}
.cta_hero_name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.cta_hero_Firstname {
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    margin-top: -5px;
}
.cta_hero_Lastname {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
}
.slogan{
  display:flex;
  align-items: start;
  flex-direction: column;
  font-size: 80px;
  font-weight: 400;
  color:#042601;
  line-height: 60px;
  margin: 5rem 0 1rem 0;
}
.slogan span:nth-child(2) {
  font-size: 80px;
  font-weight: 600;
}
.post_slogan{
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.cta_pill_content_wrapper{
  color: #FFC000;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
}
.cta_pill_content_wrapper span{
  color: #F9FFF7;
  font-weight: 700;
}

@media screen and (max-width: 480px) {

  /* ------ HERO SECTION ------ */

  .hero_section {
    bottom: 38.2vh;
    right: -350px;
  }
  .hero_img {
    top: 255px;
    right: -95px;
  }
  .hero_img img {
    width: 520px;
    height: auto;
  }
  .hero_bg {
    top: 120px;
    right: 460px;
  }
  .hero_bg_shape {
    top: 40;
    left: 140px;
  }
  .red_triangle {
    top: 180px;
    right: -465px;
  }
  .nav_logo_wrapper {
    bottom: 1rem;
    left: -0.5rem;
  }

  /* ----- CTA SECTION ----- */

  .cta_wrapper {
    height: 400px;
    margin-left: 5%;
  }
  .slogan {
    font-size: 40px;
    line-height: 30px;
    margin-top: 2rem;
  }
  .slogan span:nth-child(2) {
    font-size: 40px;
  }
  .post_slogan{
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  .home_logo_wrapper{
    flex-direction: column;
    gap: 5px;
  }
  .cta_hero_name {
    margin-left: 5px;
  }
  .cta_hero_Firstname {
    font-size: 15px;
  }
  .cta_hero_Lastname {
    font-size: 30px;
  }
  .cta_pill_content_wrapper{
    font-size: 1rem;
  }

}
