.wrapper {
  position: relative;
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 30px 0 0 0;
  z-index: 2;
}
.card_wrapper {
  width: 45%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.card_wrapper > div, .next_card_wrapper > div {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none; 
}

.card_wrapper > div.active, .next_card_wrapper > div.active {
  opacity: 1;
  pointer-events: auto;
}
.next_card_wrapper {
  width: 45%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0.2;


  /* -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  /* mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.icon_wrapper {
  background-color: var(--lightText);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;  
  z-index: 3;
}
.icon_back, .icon_next {
  font-size: 50px;
  font-weight: 100;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s ease-in-out;
  margin: 4px;
}
.icon_back:hover, .icon_next:hover {
  opacity: 1;
}

