.wrapper {
  display:flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 60px;
  width: calc(50vw + 185px);
  min-height: 710px;
  background-color: var(--lightText);
  padding-right: 30px;

  mask-image: url('/mask_services.svg');
  mask-repeat: no-repeat;
  mask-size: 1200px 710px;
  mask-position: start;

  -webkit-mask-image: url('/mask_services.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 1200px 710px;
  -webkit-mask-position: start;

}
.card_wrapper {
  width: 45%;
  height: 710px;
  padding: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 2;
}
.icon_back, .icon_next {
  font-size: 50px;
  font-weight: 100;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  transition: 0.2s ease-in-out;
}
.icon_back:hover, .icon_next:hover {
  opacity: 1;
}
.title {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -5px;
  color: var(--darkText);
  position: absolute;
  top: 10px;
  left: 90px;
  z-index: 2;
  opacity: 0.5;
}
