@keyframes textAnimation {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.wrapper {
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  /* height: 400px; */
  z-index: 4; 
  margin-left: 10%;
  width: 100%;
  opacity: 0;
  transform: translate(-10%, -30%) scale(0.8, 0.7);
  transition: 
    opacity 0.2s ease-in-out, 
    transform 0.2s ease-in-out;
}
.wrapper.animate{
  opacity: 1;
  transform: translate(0, 0) scale(1, 1);
  transition: 
    opacity 1s cubic-bezier( 0.34, 0.95, 0.6, 1 ), 
    transform 0.5s cubic-bezier( 0.34, 0.95, 0.6, 1 );
}
.home_logo_wrapper{
  display:flex;
  align-items: start;
  flex-wrap: wrap;
}
.cta_hero_name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: var(--darkText);
}
.cta_hero_Firstname {
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    margin-top: -5px;
}
.cta_hero_Lastname {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
}
.slogan{
  display:flex;
  align-items: start;
  flex-direction: column;
  font-size: 80px;
  font-weight: 400;
  color: var(--lightText);
  line-height: 60px;
  margin: 5rem 0 1rem 0;
}
.slogan span:nth-child(2) {
  font-size: 80px;
  font-weight: 600;
}
.post_slogan{
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.cta_pill_content_wrapper{
  color: #FFC000;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
}
.cta_pill_content_wrapper span{
  color: #F9FFF7;
  font-weight: 700;
}

@media screen and (max-width: 480px) {

  .wrapper {
    height: 400px;
    margin-left: 5%;
    justify-content: end;
    height: 80vh;
  }
  .slogan {
    font-size: 40px;
    line-height: 30px;
    margin-top: 2rem;
  }
  .slogan span:nth-child(2) {
    font-size: 40px;
  }
  .post_slogan{
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  .home_logo_wrapper{
    flex-direction: column;
    gap: 5px;
  }
  .cta_hero_name {
    margin-left: 5px;
  }
  .cta_hero_Firstname {
    font-size: 15px;
  }
  .cta_hero_Lastname {
    font-size: 30px;
  }
  .cta_pill_content_wrapper{
    font-size: 1rem;
  }


}
