.wrapper {
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  /* height: 400px; */
  z-index: 4; 
  margin-left: 10%;
  width: 100%;
}
.home_logo_wrapper{
  display:flex;
  align-items: start;
  flex-wrap: wrap;
  color:#042601;
}
.cta_hero_name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.cta_hero_Firstname {
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    margin-top: -5px;
}
.cta_hero_Lastname {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
}
.slogan{
  display:flex;
  align-items: start;
  flex-direction: column;
  font-size: 80px;
  font-weight: 400;
  color:#042601;
  line-height: 60px;
  margin: 5rem 0 1rem 0;
}
.slogan span:nth-child(2) {
  font-size: 80px;
  font-weight: 600;
}
.post_slogan{
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.cta_pill_content_wrapper{
  color: #FFC000;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
}
.cta_pill_content_wrapper span{
  color: #F9FFF7;
  font-weight: 700;
}

@media screen and (max-width: 480px) {

  .wrapper {
    height: 400px;
    margin-left: 5%;
    justify-content: end;
    height: 80vh;
  }
  .slogan {
    font-size: 40px;
    line-height: 30px;
    margin-top: 2rem;
  }
  .slogan span:nth-child(2) {
    font-size: 40px;
  }
  .post_slogan{
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  .home_logo_wrapper{
    flex-direction: column;
    gap: 5px;
  }
  .cta_hero_name {
    margin-left: 5px;
  }
  .cta_hero_Firstname {
    font-size: 15px;
  }
  .cta_hero_Lastname {
    font-size: 30px;
  }
  .cta_pill_content_wrapper{
    font-size: 1rem;
  }


}
