.wrapper {
  position: absolute;
  top: 195px;
  right: -308px;
  transform: translateX(var(--offset-x, 0px));
  will-change: transform;
  z-index: 1;
}
.logo_wrapper {
  position:absolute;
  bottom: 20px;
  /* left: 50px; */
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    top: 180px;
    right: -461px;
  }
}
